* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  color: #333;
}

.title-h2 {
  font-size: 32px;
}
.title-h2--center {
  text-align: center;
  margin-bottom: 50px;
}

.title-h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.input-reset {
  padding: 0;
  border: none;
}

.btn-reset {
  background-color: transparent;
  border: none;
}

.btn {
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 5px;
  background-color: #4174cb;
}

.btn-catalog {
  padding: 8px 32px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 20px;
}

.btn-catalog svg {
  margin-right: 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.swiper__hero {
  width: 100%;
  height: 400px;
}
.swiper__hero .swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.swiper__hero .swiper-slide--one {
  background-image: url("../../images/swiper-img2.png");
}
.swiper__hero .swiper-slide--two {
  background-image: url("../../images/swiper-img2.png");
}
.swiper__hero .swiper-slide--three {
  background-image: url("../../images/swiper-img2.png");
}
.swiper__hero .swiper-button-prev::after,
.swiper__hero .swiper-button-next::after {
  display: none;
}
.swiper__hero .swiper-button-prev,
.swiper__hero .swiper-button-next {
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper__hero .swiper-button-prev {
  background-image: url("../../images/arrow-left-blue.svg");
  left: auto;
  top: auto;
  right: 105px;
  bottom: 25px;
}
.swiper__hero .swiper-button-next {
  background-image: url("../../images/arrow-right-blue.svg");
  left: auto;
  top: auto;
  right: 40px;
  bottom: 25px;
}
.swiper__hero .swiper-pagination {
  width: auto;
  margin-left: 50px;
  margin-bottom: 30px;
}
.swiper__hero .swiper-pagination-bullet {
  opacity: 1;
  background-color: #ffffff;
  margin: 0 8px !important;
  width: 6px !important;
  height: 6px !important;
}
.swiper__hero .swiper-pagination-bullet-active {
  -webkit-transform: scale(2);
          transform: scale(2);
}
.swiper__popular-goods {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.swiper__popular-goods .swiper-wrapper {
  padding-bottom: 40px;
}
.swiper__popular-goods .swiper-slide {
  height: auto;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border-radius: 4px;
  padding: 10px;
}
.swiper__popular-goods .swiper-slide:hover {
  -webkit-box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.15);
}
.swiper__popular-goods .swiper-button-next::after,
.swiper__popular-goods .swiper-button-prev::after {
  display: none;
}
.swiper__popular-goods .swiper-button-next,
.swiper__popular-goods .swiper-button-prev {
  background-color: #4174cb;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper__popular-goods .swiper-button-prev {
  background-image: url("../../images/arrow-left-white.svg");
}
.swiper__popular-goods .swiper-button-next {
  background-image: url("../../images/arrow-right-white.svg");
}
.swiper__popular-goods .swiper-pagination-bullet {
  background-color: #4174cb;
  opacity: 1;
  width: 6px;
  height: 6px;
}
.swiper__popular-goods .swiper-pagination-bullet-active {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.header {
  margin-bottom: 32px;
}
.header__top {
  background-color: #f2f2f2;
  padding: 12px 0;
}

.header__location {
  font-size: 18px;
  font-weight: 600;
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.backcall__phone {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.header__middle {
  padding: 12px 0;
}

.social-list {
  width: 70px;
}

.nav-info {
  width: 200px;
}

.nav-info__link {
  font-size: 20px;
  font-weight: 600;
}

.actions-list__item:not(:last-child) {
  margin-right: 32px;
}

.actions-list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

.actions-list__item svg {
  margin-bottom: 5px;
}

.actions-list__svg-wrapper {
  height: 40px;
  width: 40px;
  position: relative;
}

.actions-list__svg-wrapper::after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 12px;
  height: 12px;
  display: block;
  background-color: #ffb745;
  border-radius: 100%;
}

.form {
  margin-right: 50px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.form__btn {
  color: #ffffff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form__input {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #4174cb;
  padding: 11px 16px;
  width: 100%;
}

.hero {
  margin-bottom: 100px;
}

.assortment {
  margin-bottom: 100px;
}

.assortment-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}
.assortment-list__item {
  grid-column: 3 span;
  border-radius: 8px;
  overflow: hidden;
}
.assortment-list__item img {
  height: 100%;
}
.assortment-list__link {
  position: relative;
  display: block;
  height: 100%;
}
.assortment-list__wrapper {
  background-color: rgba(65, 116, 203, 0.6745098039);
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  text-align: center;
}
.assortment-list__title {
  text-align: center;
}

.popular-goods {
  margin-bottom: 100px;
}

.card {
  height: 100%;
}
.card__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.card__imgbox {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.card__title {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
}
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
}
.card__actions-list {
  position: absolute;
  left: 0;
  right: auto;
  top: 0;
}
.card__actions-list .actions-list__svg-wrapper::after {
  display: none;
}

.starts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.starts-list__item:not(:last-child) {
  margin-right: 5px;
}

.info-company {
  margin-bottom: 100px;
}

.info-company-list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}
.info-company-list__item {
  grid-column: 4 span;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-company-list__item img {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}
.info-company-list__title {
  color: #153e84;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}
.info-company-list__description {
  font-size: 14px;
  text-align: center;
}

.contact-section {
  margin-bottom: 100px;
}
.contact-section__container {
  background-color: #8fafe5;
  padding: 40px 135px;
}
.contact-section__title {
  color: #153e84;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}
.contact-section__description {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 54px;
}
.contact-section__form {
  margin: 0 auto;
  width: 80%;
}

.brands__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
  margin-bottom: 100px;
}

.footer {
  padding: 40px 0;
  background: #153e84;
  color: #fff;
}

.footer__coll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__button-call {
  text-transform: uppercase;
  color: #db2138;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer__phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer__email {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title-min {
  text-transform: uppercase;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px 0 10px 30px;
}

.footer__title-min--adress {
  background-image: url("../images/map-mark.png");
}

.footer__title-min--clock {
  background-image: url("../images/clock.png");
}

.footer__btn {
  height: 41px;
  width: 203px;
  background-color: #fe9e02;
  color: #3c3c3c;
  font-size: 15px;
  padding: 10px 10px 10px;
  text-transform: uppercase;
}

.footer__description {
  max-width: 200px;
}

.footer__adress {
  margin-bottom: 10px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__item {
  width: 24px;
  height: 24px;
}

.social-list__item a {
  display: block;
  width: 24px;
  height: 24px;
}

.privacy-policy {
  padding: 20px 0;
}
.privacy-policy__wrapper {
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}/*# sourceMappingURL=style.css.map */